$primary-background-dark: #1b1b2f;
$primary-background-light: #162447;

$secondary-background-dark: #cacaca;
$secondary-background-light: white;

$primary-color: #1f4068;
$secondary-color: #e43f5a;

$font-color: white;
