$font-family: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
@font-face {
    font-family: "FabricMDL2Icons";
    font-style: normal;
    font-weight: 400;
    src:  url("./fonts/SegMDL2.ttf") format("truetype");
}
