.ms-Icon {
    display: inline-block;
    font-family: "FabricMDL2Icons";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak-as: none;
}

.ms-Icon--Bank::before {
    content: "";
}

.ms-Icon--Match::before {
    content: "";
}

.ms-Icon--Import::before {
    content: "";
}

.ms-Icon--Manual::before {
    content: "";
}

.ms-Icon--Report::before {
    content: "";
}

.ms-Icon--AddNew::before {
    content: "";
}

.ms-Icon--Save::before {
    content: "";
}

.ms-Icon--Delete::before {
    content: "";
}

.ms-Icon--GoBack::before {
    content: "";
}
